{% extends 'base.html.twig' %}

{% block title %}page produit{% endblock %}

{% block body %}

<div class="produit">
<h1>Mon Produit</h1>
<img src="https://via.placeholder.com/350x150" alt="">
<p>Date de création 24/11/2020</P>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere nesciunt ab dolorum mollitia ea nobis quibusdam, reprehenderit ipsam officiis adipisci voluptatum! 
Exercitationem facilis labore quis, fugiat tenetur recusandae minus fuga.
 Nihil illo dolor eveniet doloremque esse sint.</p>
<a href=""><button class="btn btn-success">Description</button></a>
</div>

<div class="produit"></div>
<h1>Mon produit</h1>
<img src="https://via.placeholder.com/350x150" alt="">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, perspiciatis eligendi harum illo aut explicabo magni sint quam aliquam consectetur tempora, 
molestiae at corrupti suscipit natus ad, inventore dignissimos? Dolore!</p>
<a href=""><button class="btn btn-success">Description</button></a>

<div class="produit"></div>
<h1>Mon produit</h1>
<img src="https://via.placeholder.com/350x150" alt="">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, perspiciatis eligendi harum illo aut explicabo magni sint quam aliquam consectetur tempora, 
molestiae at corrupti suscipit natus ad, inventore dignissimos? Dolore!</p>
<a href=""><button class="btn btn-success">Description</button></a>

<div class="produit"></div>
<h1>Mon produit</h1>
<img src="https://via.placeholder.com/350x150" alt="">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, perspiciatis eligendi harum illo aut explicabo magni sint quam aliquam consectetur tempora, 
molestiae at corrupti suscipit natus ad, inventore dignissimos? Dolore!</p>
<a href=""><button class="btn btn-success">Description</button></a>
</div>
{% endblock %}


